<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>

<body>
    {% extends 'myapp/base.html' %}
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="p-3 shadow" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" , class="form-control" , name="name" , id="name" ,
                            placeholder="Enter your task">
                    </div>
                    <div class="form-group">
                        <input type="text" , class="form-control" , name="priority" , id="priority" ,
                            placeholder="Enter your task's priority">
                    </div>
                    <input class="btn btn-success" type="submit">
                </form>
            </div>
        </div>
    </div>




    {% endblock %}
</body>

</html> -->